:root.theme-dark {
  --accent-color: #ff0070;
  --main-bg-color: #00183f;
  --navigation-color: #ff0070;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  --main-text-color: #f1b2ce;
  --main-heading-color: #00183f;
  --section-heading-color: #ff0070;
}

.theme-dark .page {
  background-image: url('../images/cover-image-dark.png');
}

.theme_dark .header__rec {
  display: block;
}

.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--navigation-color);
}

.theme-dark .header__theme-menu-button:hover {
  --navigation-hover-color: rgb(255 0 112 / 0.4);
} 

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --main-bg-color: #00183f;
    --navigation-color: #ff0070;
    --header-logo-color: #db00ff;
    --footer-logo-color: #db00ff;
    --main-text-color: #f1b2ce;
    --main-heading-color: #00183f;
    --section-heading-color: #ff0070;
  }

  .page {
    background-image: url('../images/cover-image-dark.png');
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--navigation-color);
  }

  .header__theme-menu-button:hover {
    --navigation-hover-color: rgb(255 0 112 / 0.4);
  }
}