:root.theme-light {
  --main-bg-color: #fff117;
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --navigation-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
}

.theme-light .page {
  background-image: url('../images/cover-image-light.png');
}

.theme-light .rec {
  display: none;
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--navigation-color);
}

.theme-light .header__theme-menu-button:hover {
  --navigation-hover-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #ffffff;
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --navigation-color: #353430;
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
  }

  .page {
    background-image: url('../images/cover-image-light.png');
  }

  .rec {
    display: none;
  }

  .header__theme-menu-button_active {
    border-color: var(--nav-color);
  }

  .header__theme-menu-button:hover {
    --navigation-hover-color: rgba(50, 49, 45, 0.4);
  }
}
