:root {
  --main-font-family: 'IBM Plex mono', monospace;
  --main-text-color: #f1b2ce;
  --main-text-size: 18px;
  --main-line-height: 1.3;
  --main-gap: 10px;
  --main-bg-color: #00183f;
  --main-heading-color: #00183f;
  --section-heading-color: #ff0070;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --header-logo-color: #db00ff;
  --header-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-logo-color: #db00ff;
  --footer-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --main-gap: 20px;
    --header-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
